.app {
    color: red;
}

* {
    font-family: "Montserrat", system-ui;
    box-sizing: border-box;
}


#main-content {
    width: 100%;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

/*************** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {}

@media (min-width: 375px) and (max-width: 768px) {
    #main-content {
        width: 100%;
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
    }

}