.gallery {
    width: 100%;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
    margin-top: 43px;
    margin-bottom: 50px;
    padding-top: 56px;
    padding-bottom: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 60px;

}

.cards {
    border-radius: 10px;
    width: 340px;
    height: 340px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    cursor: pointer;
}

.cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    pointer-events: none;
    z-index: 2;
}

.cards img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

.cards h3 {
    position: absolute;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    z-index: 3;
}


/*************** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .cards {
        width: 90%;
    }
}


/* Small devices (phones, less than 768px) */
@media (min-width: 375px) and (max-width: 767px) {

    .gallery {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 22px;
        margin-bottom: 0;
        display: flex;
        gap: 20px;

    }

    .cards {
        width: 100%;
        height: 255px;
    }
}