.about .collapse {
    display: flex;
    margin-bottom: 36px;
}

.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
}

.collapse-bar {
    width: 65%;
    color: white;
    background-color: rgba(255, 96, 96, 1);
    border-radius: 5px;
    height: 54px;
    font-size: 24px;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    padding: 0px 28px 0px 20px;
}

.collapse i {
    cursor: pointer;
}

.collapse-content {
    width: 65%;
    background-color: rgba(246, 246, 246, 0.45);
    transition: max-height 0.3s ease-out;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding: 25px 28px 20px 20px;
}

.collapse-bar .fa-solid:active {
    transform: rotate(90deg);
    transition: transform 80ms ease-in-out;
}