.section-collapse {
    margin: 38px 100px 18px 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.collapse-bar {
    width: 100%;
    color: white;
    background-color: rgba(255, 96, 96, 1);
    border-radius: 5px;
    height: 54px;
    font-size: 24px;
    font-weight: 600;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0px 0px 0px 20px;
}

.collapse-content {
    display: flex;
    width: 100%;
    background-color: rgba(246, 246, 246, 0.45);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    color: black;
    padding: 10px 10px 10px 15px;
    max-height: 0;
    /* Masquer le contenu par défaut */
    overflow: hidden;
    /* Empêche le débordement */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /* Transition pour max-height et opacity */
    opacity: 0;
}

.collapse-content.open {

    max-height: 200px;
    /* Ajuster selon la taille du contenu */
    opacity: 1;
    /* Opacité maximale */
    transform: translateY(0);
    /* Position d'origine */
}

.collapse i {
    cursor: pointer;
    margin-right: 24px;
}

.icon-container i {
    transition: transform 0.4s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}