.error {
    text-align: center;
    margin-top: 139px;
    margin-bottom: 139px;
}

.error h1 {
    font-size: 288px;
    color: rgba(255, 96, 96, 1);
    margin: 0;
}

.error p {
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 96, 96, 1);
    margin: 0;
    margin-top: 139px;
    margin-bottom: 139px;
}

.error a {
    font-size: 18px;
    font-weight: 500;
    color: black;
}