.fiche-logement {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fiche-logement .carousel {
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel {
    width: 100%;
}

.carousel .slide img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.informations {
    display: flex;
    flex-direction: column;
}

.location-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-logement .title h1 {
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 96, 96, 1);
    margin-bottom: 0;
}


.info-logement .title h2 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-top: 5;
}

.info-logement .host {
    color: rgba(255, 96, 96, 1);
    gap: 10px;
    display: flex;
    align-items: center;
}

.host img {
    border-radius: 75px;
    width: 64px;
    height: 64px;
}

.info-logement .tags {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
    flex-wrap: nowrap;

}

.info-logement .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 96, 96, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    display: inline-block;
    height: 25px;
    padding: 0px 25px 0px 25px;
}

.info-logement .rating {
    font-size: 24px;
}

.tags-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.fa-star {
    color: rgba(255, 96, 96, 1);
    height: 24px;
}

.fa-duotone {
    color: rgba(227, 227, 227, 1);
}

.star-rating {
    display: flex;
    gap: 15px;
}

.collapse-section {
    display: flex;
    flex-direction: row;
    gap: 80px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.collapse-section .collapse {
    width: 50%;
}

.collapse-section .collapse-bar {
    width: 100%;
}

.collapse-section .collapse-content {
    width: 100%;
    padding: 10px 10px 10px 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.collapse-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}