.header {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color: black;
    margin: auto;
    margin-top: 45px;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 20px;

}

.header nav ul a {
    text-decoration: none;

    &.underline {
        text-decoration: underline black 2px;
    }
}

.header li {
    font-size: 24px;
    font-weight: 500;
    line-height: 34.33px;
    color: black;
}