.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: center;
    color: black;
    margin: auto;
    margin: 45px 100px 50px 100px;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 57px;
}

.header nav ul a {
    text-decoration: none;

    &.underline {
        text-decoration: underline black 1px;
    }
}

.header li {
    font-size: 24px;
    font-weight: 500;
    line-height: 34.33px;
    color: black;
}

/* Small devices (phones, less than 768px) */
@media (min-width: 375px) and (max-width: 767px) {

    .header {
        margin: 20px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header img {
        width: 145px;
    }

    .header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 26px;
    }

    .header nav ul li {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
    }
}